<!DOCTYPE html>
<!--
From: https://towardsdatascience.com/develop-a-nlp-model-in-python-deploy-it-with-flask-step-by-step-744f3bdd7776
-->

<html>
<head>
	<title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<header>
		<div class="container">
		<h2 id="brandname">Predicting Emotion from Text</h2>	
	</div>
	
	<!--
	<div class="container">
		<h2 style="text-align: left;">Predicting Emotion from Text</h2>	
	</div>
	-->
	</header>
	
	<div class="results">
	<h1 style="color:green;" id="words_said"></h1>
	<p style="color:black;font-size:20;text-align: left;"><b>Valence Score</b></p>	
	{% if pred_V <= 3%}
	<h2 style="color:red;" id="res_val"></h2>
	{% elif pred_V > 3%}
	<h2 style="color:blue;" id="res_val"></h2>
	{% endif %}
	<p style="color:black;font-size:20;text-align: left;"><b>Activation Score</b></p>
	{% if pred_A <= 2%}
	<h2 style="color:red;" id="res_act"></h2>
	{% elif pred_A > 2%}
	<h2 style="color:blue;" id="res_act"></h2>
	{% endif %}
	<p style="color:black;font-size:20;text-align: left;"><b>Dominance Score</b></p>
	{% if pred_D <= 4%}
	<h2 style="color:red;" id="res_dom"></h2>
	{% elif pred_D > 4%}
	<h2 style="color:blue;" id="res_dom"></h2>
	{% endif %}
	
	<script>
	document.getElementById("words_said").innerHTML = {{ pred_words }};
	document.getElementById("res_val").innerHTML = {{ pred_V }};
	document.getElementById("res_act").innerHTML = {{ pred_A }};
	document.getElementById("res_dom").innerHTML = {{ pred_D }};
	</script>

	</div>

</body>
</html>
